<%= form_with(url: sessions_path, method: :post) do |form| %>
  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Email:</span>
    </label>
  <%= form.text_field :email, class: "input input-bordered input-primary w-full max-w-xs" %>
  </div>

  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Password:</span>
    </label>
  <%= form.password_field :password, class: "input input-bordered input-primary w-full max-w-xs" %>
  </div>
  
  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Remember Me:</span>
      <%= check_box_tag :remember_me, 1, params[:remember_me], class: "checkbox checkbox-primary" %>
    </label>
  </div>

  <%= form.submit "Login", class: "btn btn-secondary mt-2"%>
<% end %>
<%= button_to "Login with Github", "/auth/github", class: "btn btn-secondary mt-2", data: { turbo: false } %>
