<% title "Create Gratitude" %>

<%= form_with(model: @gratitude_item, url: gratitude_items_path) do |form| %>
  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Gratitude Name:</span>
    </label>
    <%= form.text_field :name, class: "input input-bordered input-primary w-full max-w-xs", placeholder: "Type here"%>
  </div>
  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Date:</span>
    </label>
  <%= form.date_field :date, value: Date.today, disabled: true, class: "input input-bordered input-primary w-full max-w-xs" %>
  </div>
  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Details:</span>
    </label>
  <%= form.text_area :details, placeholder: "Details", class: "textarea textarea-primary w-full max-w-xs" %>
  </div>
  <%= form.submit class: "btn btn-secondary mt-2"%>
<% end %>