<%= form_with(model: [@gratitude_item,@reflection]) do |form| %>
  <div id="flash-messages">
      <% @reflection.errors.full_messages.each do |msg| %>
        <div class="alert alert-error shadow-lg my-2" data-controller="alert" data-alert-animation-class="transition duration-500 ease-in-out transform opacity-0">
          <div>
          <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
          <span><%= msg %></span>
          </div>
        </div>
      <% end %> 
  </div>
  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Reflection Name:</span>
    </label>
    <%= form.text_field :title, class: "input input-bordered input-primary w-full max-w-xs", placeholder: "Type here"%>
  </div>
  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Date:</span>
    </label>
  <%= form.date_field :reflection_date, value: Date.today, disabled: false, class: "input input-bordered input-primary w-full max-w-xs" %>
  </div>
  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Details:</span>
    </label>
  <%= form.text_area :body, placeholder: "Reflection", class: "textarea textarea-primary w-full max-w-xs" %>
  </div>
  <%= form.submit class: "btn btn-secondary mt-2"%>
<% end %>