<div id="<%= dom_id(@user) %>" class="card w-full lg:w-1/3 bg-secondary shadow-xl my-2">
  <div class="card-body">
    <h2 class="card-title"><%= @user.name %></h2>
    <p><%= @user.email %></p>
    <div class="card-actions justify-end">
        <%= link_to "Edit User", edit_user_path(@user), class: "btn btn-primary my-2"%>
        <%= button_to "Delete User", @user, method: :delete, class: "btn btn-error my-2", form: { data: { turbo_confirm: "Are you sure? " } } %>
    </div>
</div>
</div>